[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==1.11"
click = "*"
matplotlib = "*"
pytorch-lightning = "==1.4.9"
torchvision = "==0.12"
wandb = "*"
hydra-core = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.7"
